footer {
  background-color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
// -----------MOBILE---------------------------------

@media screen and (min-width: 480px) {
  .footer-container {
    text-align: center;
  }
}

// -----------TABLET---------------------------------

@media screen and (min-width: 768px) {
  .footer-container__logo {
    width: 450px;
  }
}

// -----------DESCTOP---------------------------------

@media screen and (min-width: 1200px) {
  
  .footer-container {
    display: flex;
    text-align: left;
    align-items: baseline;
  }
}



  