.footer-container__contact {
  margin-bottom: 20px;
}

.footer-container__logo {
  display: block;
  margin-bottom: 20px;
}
.footer-contact {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-right: 70px;
}
.local {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contact__tel,
.footer-contact__mail {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact__item:not(:last-of-type) {
  margin-bottom: 8px;
}



// -----------MOBILE---------------------------------

@media screen and (min-width: 480px) {
  .footer-container__contact {
    margin-bottom: 60px;
  }

  .footer-contact__item {
    width: 450px;
  }

  .footer-container__logo {
    display: block;
    margin-bottom: 20px;
  }
  .footer-contact {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-right: 70px;
  }
  .local {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-contact__tel,
  .footer-contact__mail {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-contact__item:not(:last-of-type) {
    margin-bottom: 8px;
  }

}

// -----------TABLET---------------------------------

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-container__contact {
    width: 450px;
  }
}

// -----------DESCTOP---------------------------------

@media screen and (min-width: 1200px) {
  .footer-container__contact {
    margin-bottom: 0px;
    width: 231px;
    margin-right: 70px;
  }
    .footer-contact__item:not(:last-of-type) {
      margin-bottom: 9px;
    }
  
    .footer-contact__item {
      width: 231px;
    } 
  
}

