.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.mobile-menu__container {
position: relative;
padding: 48px 40px;
}

.mobile-menu__nav-container{
margin-bottom: 270px;
}

.mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
}

.current-link {
    color: var(--highlight-text-color);
}

//==============mobile-menu__list-nav

.mobile-menu__list-nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #212121;
}

.mobile-menu__item-nav {
    margin-bottom: 32px;
}

.mobile-menu__link-nav:hover {
    color: var(--highlight-text-color);
}


//==================mobile-menu__list-contact

.mobile-menu__list-contact{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

.mobile-menu__tel {
color: var(--highlight-text-color);
}

.mobile-menu__mail {
font-weight: 500;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #757575;
}


// ===============mobile-menu__link-social

.mobile-menu__link-social {
    color: var(--highlight-text-color);
}

.mobile-menu__list-social {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
   }

.mobile-menu__item-social:not(:last-of-type) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
    .mobile-menu-open-btn {
        display: none;
    }
}