.head-contact__tel,
.head-contact__mail {
  display: none;
}

.mobile-menu-open-btn-icon {
    fill: #212121;
  }

@media screen and (max-width: 767px) {
    .menu {
      display: none;
    }
    .mobile-menu-open-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }
}

@media screen and (min-width: 768px) {
  .menu,
  .head-contact__tel,
  .head-contact__mail {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
      display: flex;
      align-items: center;
    }
    
    .logo {
      margin-right: 93px;
    }
    
    .menu {
      display: flex;
    }
    
    .menu__item:not(:last-child) {
      margin-right: 50px;
    }
    
    .menu__link {
      position: relative;
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      color: #212121;
      padding-top: 32px;
      padding-bottom: 32px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: var(--highlight-text-color);
        }
    }
    
    .current-link {
      color: var(--highlight-text-color);
        &::after {
          content: ' ';
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: 0;
          background: var(--highlight-text-color);
          border-radius: 2px;
        }
    }
        
    .head-contact {
      display: flex;
    }
    
    .head-contact__item {
      display: flex;
      align-items: center;
      justify-content: center;
        &:not(:last-of-type) {
          margin-right: 50px;
        }
    }
      
    .head-contact__mail,
    .head-contact__tel {
      display: flex;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      color: #757575;
      padding-top: 32px;
      padding-bottom: 32px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:hover,
        &:focus,
        &:focus {
          color: var(--highlight-text-color);
        }
    }
        
    .icon-contact {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      fill: #757575;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        .head-contact__mail:hover &,
        .head-contact__tel:hover &,
        .head-contact__mail:focus &,
        .head-contact__tel:focus & {
          fill: var(--highlight-text-color);
        }
    }

  
}



    
  