.title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
  }
  
@media screen and (max-width: 1199px){
  .title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
  }
}


  