:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2f303a;
    --secondary-accent-color: #f5f4fa;
    --text-color-contact: #757575;
    --highlight-text-color: #2196f3;
  }